In [1]:
import pandas as pd

In [3]:
clusters_3 = pd.read_csv('../data/3cluster.csv')
clusters_4= pd.read_csv('../data/4cluster.csv')

In [5]:
clusters_3

,cluster,edad,renta_mensual,tamaño_hogar,recency,frequency,monetary,gen_hombre,gen_mujer,est_civ_casado/a,est_civ_divorciado/a,est_civ_soltero/a,est_civ_viudo/a,zona_rural,zona_suburbana,zona_urbana
0,0,41.86,2261.03,1.64,135.13,9.49,85.10,0.47,0.53,0.49,0.02,0.37,0.12,0.11,0.87,0.03
1,1,36.11,2423.89,1.76,146.22,10.80,91.25,0.48,0.52,0.56,0.00,0.44,0.00,0.00,0.00,1.00
2,2,43.98,3168.02,3.88,312.75,44.37,457.36,0.49,0.51,1.00,0.00,0.00,0.00,0.00,1.00,0.00

In [6]:
clusters_4

,cluster,edad,renta_mensual,tamaño_hogar,recency,frequency,monetary,gen_hombre,gen_mujer,est_civ_casado/a,est_civ_divorciado/a,est_civ_soltero/a,est_civ_viudo/a,zona_rural,zona_suburbana,zona_urbana
0,0,39.83,2379.71,1.74,145.27,10.54,93.96,0.01,0.99,0.54,0.03,0.37,0.05,0.01,0.99,0.00
1,1,38.53,2355.00,1.71,142.14,10.30,88.89,1.00,0.00,0.53,0.00,0.41,0.06,0.05,0.38,0.57
2,2,44.30,3189.26,3.95,314.87,45.46,469.29,0.49,0.51,1.00,0.00,0.00,0.00,0.00,1.00,0.00
3,3,38.00,2343.01,1.71,141.97,10.34,89.00,0.00,1.00,0.53,0.00,0.42,0.05,0.07,0.00,0.93